.div {
  position: relative;
  top: 21px;
  left: 0px;
  white-space: pre-wrap;
  text-align: center;
}

.diaryCheckPopupChild,
.content
{
  position: relative;
  top: 40px;
  left: 40px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-snow-100);
  width: 538px;
  height: 483px;
  z-index: 0;
}
.content{
  position: absolute;
  top: 140px;
  left: 40px;
  height: 396px;
  width: 518px;
  background-color: var(--color-snow-100);
  z-index: 1;
  padding: 10px;
  overflow-y: auto;
}

.diaryCheckPopupItem {
  position: relative;
  top: 60px;
  left: 40px;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color-gray);
  width: 538px;
  height: 160px;
}
.diaryCheckPopupInner {
  position: relative;
  top: -590px;
  left: 62px;
  border-radius: var(--br-3xs);
  background-color: #d1c7b1;
  width: 493px;
  height: 47px;
}
.div1 {
  position: relative;
  top: -630px;
  left: 0px;
  color: var(--color-dimgray-300);
  text-align: center;
}

.div2,
.icon {
  position: relative;
}
.div2 {
  top: -150px;
  left: 101px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.icon {
  top: -368px;
  left: 388px;
  width: 225px;
  height: 329px;
  object-fit: cover;
}
.polygonIcon {
  top: -732px;
}
.diaryCheckPopup {
  position: relative;
  width: 618px;
  background-color: var(--color-linen-200);
  height: 765px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-200);
  font-family: var(--font-s-core-dream);
}
